.vscode/**
.vscode-test/**
src/**
.git/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
**/*.tsbuildinfo
**/tests/**
**/*.test.js
**/*.test.ts
**/node_modules/**
**/*.log
**/*.yml
